@charset "UTF-8";
/* BASE */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Update css reset */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

body {
  background: #fff;
  font-size: 14px;
  line-height: 1.444444;
  font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
  -webkit-text-size-adjust: none;
  color: #333;
}

.ft-serif {
  font-family: "Hiragino Mincho Pro", Times, "Times New Roman", Georgia, serif;
}

a {
  color: #333;
  text-decoration: none;
}

.trans {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.trans:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
  text-justify: distribute;
}

.text-nowrap {
  white-space: nowrap;
}

.text-underline {
  text-decoration: underline;
}

.text-warning {
  color: #b20000;
}

.list-inline > li {
  display: inline-block;
  vertical-align: middle;
}

.list-indent li,
.text-indent {
  text-indent: -1em;
  padding-left: 1em;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.mb0 {
  margin-bottom: 0 !important;
}

/* Visible & hidden */
.visible-xs {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
}
.wrapper {
  width: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .trans,
  .trans:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }

  .wrapper {
    min-width: 320px;
  }

  .container {
    width: auto;
  }
}
/* Partial */
.site-header {
  background: #333;
  position: relative;
}
.site-header .header {
  *zoom: 1;
}
.site-header .header:after {
  content: "";
  display: table;
  clear: both;
}
.site-header .header .logo {
  float: left;
}
.site-header .header .logo a {
  display: inline-block;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  margin: 6px 0;
}
.site-header .header .main-nav {
  float: right;
}
.site-header .header input[type="checkbox"] {
  visibility: hidden;
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
}

.main-nav .menu {
  overflow: hidden;
}
.main-nav li {
  float: left;
  padding: 10px 0;
  position: relative;
}
.main-nav li a {
  color: #fff;
  font-size: 16px;
  position: relative;
  padding: 0 20px;
}
.main-nav li + li a:before {
  height: 1em;
  width: 1px;
  background: #fff;
  position: absolute;
  left: 0;
  content: "";
  top: 50%;
  margin-top: -0.5em;
}
.main-nav li.active:after, .main-nav li:hover:after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 6px dashed #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  left: 50%;
  bottom: 0px;
  margin-left: -3px;
  z-index: 9;
}
.main-nav li.active a, .main-nav li:hover a {
  color: #ccc;
}

@media (max-width: 767px) {
  .main-nav {
    background: #333;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 999;
    border-top: 1px solid #fff;
    display: none;
  }
  .main-nav .menu li {
    float: none;
    padding: 0;
  }
  .main-nav .menu li:after {
    display: none;
  }
  .main-nav .menu li a {
    display: block;
    border-bottom: 1px solid #fff;
    padding: 10px;
  }
  .main-nav .menu li a:before {
    display: none;
  }

  .header .nav-collapse {
    float: right;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 1px;
    padding: 5px;
    margin-top: 4px;
  }
  .header .nav-collapse + input[type="checkbox"]:checked + .main-nav {
    display: block;
  }
}
@media (min-width: 768px) {
  .main-nav {
    display: block !important;
  }
}
.site-footer {
  margin-top: 20px;
  background: #333;
  color: #eee;
  font-size: 12px;
  padding: 15px;
}

/*
 * Title
 */
.title {
  font-size: 1.25em;
  font-weight: bold;
  margin: 20px 0;
  background: #999;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
}

/*
 * Breadcrumb
 */
.breadcrumbs {
  padding: 10px;
  margin: 10px 0;
  background: #eee;
}
.breadcrumbs li {
  display: inline-block;
  vertical-align: middle;
  color: #777;
}
.breadcrumbs li a {
  display: inline-block;
}
.breadcrumbs li a:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  width: 6px;
  height: 6px;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Stylesheet for each page */
.content-in {
  background: #888;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

/*# sourceMappingURL=style.css.map */
