-
  var menus = [
    {slug: "home", label: "Home", href: "/"},
    {slug: "about", label: "About", href: "/about/"},
    {slug: "product", label: "Products", href: "/product/"},
    {slug: "news", label: "News", href: "/news/"},
    {slug: "recruite", label: "Recruite", href: "/recruite/"},
    {slug: "contact", label: "Contact", href: "/contact/"}
  ];
header.site-header#header
  .container
    .header
      .logo
        a(href=path) My Logo
      label.nav-collapse.visible-xs(for='btn-menu') Menu
      input(type='checkbox' name='menu' id='btn-menu')
      nav.main-nav
        ul.menu
          each menu in menus
            if id === menu.slug
              li.active
                a(href=path+menu.href)= menu.label
            else
              li
                a(href=path+menu.href)= menu.label