@charset "utf-8";

/* Update css reset */
*,
*:before,
*:after {
  @include box-sizing(border-box);
}
img {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

body {
  background: #fff;
  font-size: $base-fontsize;
  line-height: 1.444444;
  font-family: $base-font-sans;
  -webkit-text-size-adjust: none;
  color: $main-color;
}

.ft-serif {
  font-family: $base-font-serif;
}

a {
  color: $main-color;
  text-decoration: none;
}

.trans {
  @include opacity(1);
  &:hover {
    @include opacity(.8);
  }
}

.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
  text-justify: distribute;
}
.text-nowrap {
  white-space: nowrap;
}
.text-underline {
  text-decoration: underline;
}
.text-warning {
  color: #b20000;
}
.list-inline>li {
  display: inline-block;
  vertical-align: middle;
}
.list-indent li,
.text-indent {
  text-indent: -1em;
  padding-left: 1em;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.mb0 {
  margin-bottom: 0 !important;
}

/* Visible & hidden */
.visible-xs {
  display: none !important;
}
@include mq-sp {
  .visible-xs {
    display: block !important;
  }
}

.wrapper {
  width: 100%;
  //min-width: $base-width;
}
.container {
  max-width: $base-width;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@include mq-sp {
  .trans,
  .trans:hover {
    @include opacity(1);
  }
  .wrapper {
    min-width: 320px;
  }
  .container {
    width: auto;
  }
}