@charset "utf-8";

// MEDIA QUERY
@mixin mq-pc {
  @media (min-width: $break-point + 1) {
    @content;
  }
}

@mixin mq-sp {
  @media (max-width: $break-point) {
    @content;
  }
}

// Convert px to vw
// 
// Ex:
//     get-vw(50px, height) -> height: 50px
//     get-vw(50px)         -> font-size: 50px; font-size: 0.5vw
@mixin get-vw($target, $prop: null) {
  $max-breakpoint: strip-unit($base-width);
  $vw-context: ($max-breakpoint*.01);
  $strip_target: strip_unit($target);

  @if ($prop != null) {
    /* IE old */
    #{$prop}: $target;
    #{$prop}: ($strip_target/$vw-context) * 1vw;
  }
  @else {
    $strip_target: strip-unit($target);
    @if ($strip_target < 9) {
      font-size: 9px;
    } @else {
      /* IE old */
      font-size: $target;
      font-size: $strip_target/$vw-context *1vw;
    }
  }
}

@function vw($target) {
  $max-breakpoint: strip-unit($base-width);
  $vw-context: ($max-breakpoint*.01);
  $strip_target: strip_unit($target);
  @return $strip_target/$vw-context *1vw;
}