$base-width: 1000px;

$base-fontsize: 14px;

$break-point: 767px;

$base-font-sans   : "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;

$base-font-serif  : "Hiragino Mincho Pro", Times, "Times New Roman", Georgia, serif;

$main-color: #333;