extends ./_layouts/_default

block vars
  -id           = 'home'
  -title        = 'Home'
  -description  = 'Top page'
  -keywords     = 'pmail,pmail,pmail'
  -bodyClass    = 'page-home'
  -path         = '.'

block container
  .container
    h1.title Hello world, You are page #{title}
    div(style='height:700px;background:#ddd;')

append fc_footer
  script(src=path+'/js/slick.min.js')