extends ../_layouts/_default

block vars
  -id           = 'about'
  -title        = 'About us'
  -description  = 'Lorem ipsum dolor sit amet'
  -keywords     = 'fast, coding'
  -bodyClass    = 'page-about'
  -path         = '..'

block fc_head
  link(href=path+'css/jquery.slider.min.css', rel="stylesheet")

block container

  .container
    ul.breadcrumbs
      li
        a(href='/') Home
      li About

    section.sec-about#about
      div(style='height:700px;background:#eee;')