include ../_mixins/_common

block vars
  -id           = ''
  -title        = 'Title'
  -description  = 'Description'
  -keywords     = 'keywords'
  -bodyClass    = 'page-top'
  -path         = '.'

doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=1.0")
    meta(name="description", content=description)
    meta(name="keywords", content=keywords)
    title=title
    link(rel="stylesheet", href=path+"/css/style.css")
    <!--[if IE]>
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(http-equiv="cleartype", content="on")
    <![endif]-->
    block fc_head
  body(class=bodyClass)
    .wrapper
      include ../_includes/_header
      block container
      include ../_includes/_footer
    script(src=path+"/js/jquery-3.2.1.min.js")
    script(src=path+"/js/modernizr.min.js")
    block fc_footer
    script(src=path+"/js/scripts.js")