@charset "utf-8";

.site-header {
  background: #333;
  position: relative;
  .header {
    @include pie-clearfix;
    .logo {
      float: left;
      a {
        display: inline-block;
        color: #fff;
        font-size: 1.5em;
        font-weight: bold;
        margin: 6px 0;
      }
    }
    .main-nav {
      float: right;
    }
    input[type="checkbox"] {
      visibility: hidden;
      width: 1px;
      height: 1px;
      position: absolute;
      opacity: 0;
    }
  }
}
.main-nav {
  .menu {
    overflow: hidden;
  }
  li {
    float: left;
    padding: 10px 0;
    position: relative;
    a {
      color: #fff;
      font-size: 16px;
      position: relative;
      padding: 0 20px;
    }
    + li a:before {
      height: 1em;
      width: 1px;
      background: #fff;
      position: absolute;
      left: 0;
      content: "";
      top: 50%;
      margin-top: -0.5em;
    }
    &.active,&:hover {
      &:after {
        content: "";
        width: 0;
        height: 0;
        border-bottom: 6px dashed #fff;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        position: absolute;
        left: 50%;
        bottom: 0px;
        margin-left: -3px;
        z-index: 9;
      }
      a {
        color: #ccc;
      }
    }
  }
}
@include mq-sp {
  .main-nav {
    background: #333;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 999;
    border-top: 1px solid #fff;
    display: none;
    .menu li {
      float: none;
      padding: 0;
      &:after {
        display: none;
      }
      a {
        display: block;
        border-bottom: 1px solid #fff;
        padding: 10px;
        &:before {
          display: none;
        }
      }
    }
  }
  .header .nav-collapse {
    float: right;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 1px;
    padding: 5px;
    margin-top: 4px;
    &+input[type="checkbox"]:checked + .main-nav {
      display: block;
    }
  }
}
@include mq-pc {
  .main-nav {
    display: block !important;
  }
}