@charset "utf-8";

/*
 * Title
 */
.title {
  font-size: 1.25em;
  font-weight: bold;
  margin: 20px 0;
  background: #999;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
}

/*
 * Breadcrumb
 */
.breadcrumbs {
  padding: 10px;
  margin: 10px 0;
  background: #eee;
  li {
    display: inline-block;
    vertical-align: middle;
    color: #777;
    a {
      display: inline-block;
      &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
        width: 6px;
        height: 6px;
        border-right: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
        @include transform(rotate(-45deg));
      }
    }
  }
}